
.stage {
  background: white;
  padding: 2rem 3rem;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  width: 500px;
  text-align: center;
  transition: 0.3s;
}

.stage__words {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.stage__mistakes {
  font-weight: 500;
  color: #ef4444;
  margin-bottom: 0.5rem;
}

.stage p {
  margin: 0.3rem 0;
  font-size: 0.9rem;
  color: #475569;
}