.intro {
    position: absolute;
    top: 35%;
    left: 15%;
    width: 70%;
    font-family: Arial, sans-serif;
    color: #333;
    background: linear-gradient(145deg, #eef2ff, #f4f6fb);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 33%);
    border-radius: 8px;
    padding: 20px;
    padding-bottom: 50px;
    animation: slideIn 0.5s ease-out;
}

.intro p {
    padding-inline: 50px;
        font-size: 1.1rem;
        padding-block: 0.5rem;

}

.start {
    margin-top: 20px;
    background-color: #3e4c59;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 14px;
    font-size: 25px;
    cursor: pointer;
}

.start:hover,
.start:focus {
    background-color: #6e8195;
}

